# interchange first and last element

In [44]:
a = [12, 35, 9, 56, 24]

p = a[0]

a[0] = a[-1]

a[-1] = p

a

[24, 35, 9, 56, 12]

# fancy way , pythonic way

In [24]:
a[0] , a[-1] = a[-1] , a[0]

In [31]:
#tuple_way

In [45]:
get = a[0] , a[-1]

a[-1] , a[0] = get

a

[12, 35, 9, 56, 24]

# More Fancier

In [38]:
a , *b , c = [1,2,3,4,5]

In [41]:
[c , *b , a]

[5, 2, 3, 4, 1]

In [46]:
# Swapping Two Elements

In [47]:
# Python3 program to swap elements
# at given positions

# Swap function
def swapPositions(list, pos1, pos2):

    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2 = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

# Length of list

In [49]:
# 1st is loop method

In [50]:
test_list = [5, 7, 8 ,9]

In [51]:
list_len = sum(1 for i in test_list)

# Find Maximum of two numbers in Python

In [55]:
a = 4
b = 3

In [57]:
if a> b:
    print('a is greater')
else:
    print('b is greater')

a is greater

In [60]:
#cool way
print(a if a >= b else b)

4

# Check if element exists in list in Python

In [61]:
if 5 in test_list:
    print('hai')
else:
    print('nahi hai')

hai

In [63]:
# 2nd way using loop
for i in test_list:     
    if(i == 4):         
        print("Element Exists")

In [65]:
# 3rd way
item = test_list.count(15)

if len(item) > 0:
    print('found')
else:
    print('not exist')

In [ ]:
# 4th way
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

# Use filter to create an iterator of elements equal to the target element
filtered_elements = filter(lambda x: x == element_to_check, my_list)

# Convert the iterator to a list and check if it's not empty
if list(filtered_elements):
    print("Element exists in the list")
else:
    print("Element does not exist in the list")

# Clearing a list

In [ ]:
# 1st way

In [68]:
test_list.clear()

In [ ]:
# 2nd way

In [70]:
test_list = [] # also called reinitialization

In [ ]:
# 3rd way
del test_list[:]

In [74]:
# 4th using slicing

lst = [8,9,89]

lst = lst[:0]

lst

[]

In [ ]:
# 5th way
ty = [item for item in lst if False]

# REVERSING A LIST

In [75]:
L = [9,8,8,67,89]

In [ ]:
# 1st way

L.reverse()

In [ ]:
# 2nd way

L[::-1]

In [83]:
# Reversing a list using two-pointer approach
def reverse_list(arr):
    left = 0
    right = len(arr)-1
    while (left < right):
    # Swap
        temp = arr[left]
        arr[left] = arr[right]
        arr[right] = temp
        left += 1
        right -= 1

    return arr

arr = [1, 2, 3, 4, 5, 6, 7]
print(reverse_list(arr))

[7, 6, 5, 4, 3, 2, 1]

# copying

In [103]:
b = [2,3]

In [107]:
# 1st way , most efficient # slicing returns a new list
c = b[:]

In [109]:
# 2nd way
c = []
c.extend(b)
c

[2, 3]

In [110]:
# 3rd way using list comprehenskon
[i for i in b]

[2, 3]

In [112]:
c = b.copy # not efficient takes time

In [93]:
left = 0
right = len(v) - 1

while left < right:
    temp = v[left]
    v[left] = v[right]
    v[right] = temp
    right = right -1
    left = left + 1

# sum of a numbers of list

In [1]:
test_list = [12, 67, 98, 34]
# output[3, 13 , 17 ,7]

In [2]:
store = []

for n in test_list:

    rem = n %10

    sec = n //10

    store.append(rem+sec) 

store # approach 1

[3, 13, 17, 7]

In [24]:
# 2nd way

In [39]:
val = []
for n in test_list:
    res = 0
    for i in str(n):
        res = res + int(i)
    val.append(res)

val

In [41]:
# 3rd way

In [55]:
list(map(lambda x : sum(int(m) for m in str(x)) , test_list))

[3, 13, 17, 7]

In [ ]:
# 4th way

In [70]:
[sum(int(n) for n in str(num)) for num in test_list] # generator expression and list comprehensoin

[3, 13, 17, 7]

# smallest number in a list

In [8]:
kl = [12,3,54,56,78,54,3,6]

In [79]:
mini = float('inf')
for k in kl:
    if k < mini:
        mini = k

mini

In [81]:
# using sort

In [105]:
kl.sort()

kl[-2] # smallest

56

In [ ]:
# min()

In [86]:
min(kl)

3

# second largest number in a list

In [9]:
kk = list(set(kl)) # using set tpo eliminate all duplicates

In [95]:
# Traverse once to find the largest and then once again 
#to find the second largest

In [103]:
second_largest = 0
largest = min(test_list)

for i in range(len(test_list)):
    if test_list[i] > largest:
        second_largest = largest
        largest = test_list[i]
    else:
        second_largest = max(second_largest , test_list[i])
        
second_largest

67

In [ ]:
#3rd way

In [11]:
test_list

[12, 67, 98, 34]

In [12]:
m = max(test_list)

max([n for n in test_list if n < m])

67

# remove multiplr elements from a list

In [111]:
k = [1,2,3,4,5]
to_remove = [1,3]

In [112]:
[n for n in k if n not in to_remove]

[2, 4, 5]

# removing empty tuplres from a list

In [115]:
tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]

In [116]:
[n for n in tuples if n]

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [117]:
# using filter

In [119]:
list(filter(None , tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

# Program to print duplicates from a list of integers

In [121]:
lis = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

In [123]:
unique = []
duplicates = []
for n in lis:
    if n not in unique:
        unique.append(n)
    elif n not in duplicates:
        duplicates.append(n)

In [124]:
unique

[10, 20, 30, 40, 50, -20, 60]

In [126]:
duplicates

[20, 30, 60, -20]

# List Comprehension

In [113]:
#Given a list of numbers, remove all odd numbers from the list:

numbers = [3,5,45,97,32,22,10,19,39,43]

In [117]:
[num for num in numbers if num%2== 0]

[32, 22, 10]

In [ ]:
# Remove floats

In [119]:
original_list = [2,3.75,.04,59.354,6,7.7777,8,9]

In [120]:
[n for n in original_list if type(n) == int]

[2, 6, 8, 9]

In [121]:
#Find all of the numbers from 1-1000 that are divisible by 7

In [122]:
[num for num in range(1000) if num % 7 == 0]

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [123]:
#Find all of the numbers from 1-1000 that have a 3 in them

In [127]:
[num for num in range(1000) if '3' in str(num)]

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [137]:
item = 'Count the number of spaces in a string'

In [140]:
lk = [ i for i in item if i == ' ']

len(lk)

In [143]:
'''Create a list of all the consonants in the string 
“Yellow Yaks like yelling and yawning and yesturday 
they yodled while eating yuky yams”'''

'Create a list of all the consonants in the string \n“Yellow Yaks like yelling and yawning and yesturday \nthey yodled while eating yuky yams”'

In [142]:
sen = 'Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams'

In [144]:
[i for i in sen if i not in 'aeiou']

['Y',
 'l',
 'l',
 'w',
 ' ',
 'Y',
 'k',
 's',
 ' ',
 'l',
 'k',
 ' ',
 'y',
 'l',
 'l',
 'n',
 'g',
 ' ',
 'n',
 'd',
 ' ',
 'y',
 'w',
 'n',
 'n',
 'g',
 ' ',
 'n',
 'd',
 ' ',
 'y',
 's',
 't',
 'r',
 'd',
 'y',
 ' ',
 't',
 'h',
 'y',
 ' ',
 'y',
 'd',
 'l',
 'd',
 ' ',
 'w',
 'h',
 'l',
 ' ',
 't',
 'n',
 'g',
 ' ',
 'y',
 'k',
 'y',
 ' ',
 'y',
 'm',
 's']

In [145]:
#Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’).

In [151]:
temp= ['hi', 4, 8.99, 'apple', ('t','b','n') ]

[(i , temp[i] )  for i in range(len(temp))]

In [ ]:
#Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5

In [163]:
list_a = 1, 2, 3, 4
list_b = 2, 3, 4, 5

In [164]:
[a for a in list_a if a in list_b]

[2, 3, 4]

In [165]:
#Given numbers = range(20), produce a list containing the word ‘even’ if a 
#number in the numbers is even, and the word ‘odd’ if the number is odd. 
#Result would look like ‘odd’,’odd’, ‘even’

In [169]:
['even' if i % 2 == 0 else 'odd' for i in range(20)]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

# Remobing Empty LIST

In [13]:
test_list = [5, 6, [], 3, [], [], 9]

In [15]:
[el for el in test_list if el]

[5, 6, 3, 9]

In [17]:
# 2ND WAY

In [19]:
list(filter(None , test_list))

[5, 6, 3, 9]

# Getting dict from list

In [29]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

In [26]:
t_dict = {}

In [24]:
for key in range(len(key_list)):
    if key not in t_dict:
        t_dict[key] =

name
id

In [30]:
[{k:v}for k in key_list for v in test_list]

[{'name': 'Gfg'},
 {'name': 3},
 {'name': 'is'},
 {'name': 8},
 {'id': 'Gfg'},
 {'id': 3},
 {'id': 'is'},
 {'id': 8}]