# Set is unordered, mutable , no duplicates , cant contain mutable dtype

In [52]:
a = set() # initialization

# It has no index , so slicing, indexing doesnt work

In [53]:
# set.add(value) , add is for single value only

In [54]:
a.add(2)

a.add(3)

a.add(True)

a.add(1)

In [55]:
a

{True, 2, 3}

In [56]:
b = {3 , 2 , True}

In [57]:
a==b# hence proved

True

# Using update can enter multiple values in a set

In [ ]:
b.update([1,2,3,4])

# Deletion

In [21]:
#1 using del , can only delete whole set not part

In [22]:
del a

# discard/remove both same , remove throws an error if item not found , extra e 'error'

In [24]:
b.discard(1)

In [27]:
b.remove(2)

In [28]:
b

{3, 4}

In [30]:
b.pop() # deletes item randomly

4

In [31]:
b

set()

# Set Opertions

In [33]:
a = {1,2,3,4,5,6}
b = {4,4,5,6,7}

In [34]:
# joiinig two sets , union

{4, 5, 6, 7}

In [36]:
a | b # '|'  mesns union

{1, 2, 3, 4, 5, 6, 7}

In [37]:
a- b # difference ,  items of a that are not present in b

{1, 2, 3}

In [38]:
a ^ b # its called symmetric difference, isme common ko chhodh ke saare print

{1, 2, 3, 7}

In [40]:
a & b # this is called intersection, common items

{4, 5, 6}

# membership operations on sets

In [42]:
a = {1,2}

In [43]:
b = {1,2,3,4}

In [48]:
a.isdisjoint(b) # means no item is common

False

In [46]:
b.issuperset(a) # means b belongs to a

True

In [47]:
a.issubset(b) # means a is small part of b

True