# ORDERED , UNCHANGEBALE , ALLOWS DUPLICATE , UNMUTABLE

# CREATING A TUPLE WITH SINGLE ITEM

In [5]:
t = () # initialization of empty tuple

In [8]:
t = (2, ) # brownie point: single tuple creation is followed by a comma ','

In [9]:
# Accesing item same as lists

In [10]:
t = (1,2,3,4,5)

In [11]:
t[0]

1

In [12]:
t[1]

2

In [14]:
t[:2] #slicing also allowed

(1, 2)

# EDITING AND ADDING ITEMS ARE NOT ALLOWES

# dELETION

In [16]:
# SUPPORTS WHOLE DELETING, CANNOT BE DELETED IN SLICES

In [17]:
# MIN/MAX/LEN/SORTED EVERTHING WORKS AS INTENDED

# tUPLE uNPACKING

In [19]:
a, b = 1,2

In [20]:
a

1

In [21]:
b

2

In [25]:
a, b = b, a # swapping using tuple unpacking

In [23]:
a

2

In [24]:
b

1

In [30]:
a , *others, b = (1,2,3,4,5,6) # another interesting tuple play

In [27]:
a

1

In [28]:
b

6

In [29]:
others

[2, 3, 4, 5]